name: Deploy en EC2

on:
  push:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: coneccion SSH
        run: |
          echo "${{ secrets.NEW_KEY }}" > private_key.pem
          chmod 600 private_key.pem
          ssh -o StrictHostKeyChecking=no -i private_key.pem ubuntu@${{ secrets.EC2_IP }} << 'EOF'
            cd /home/ubuntu/Little-Lemon
            git pull origin master
            docker-compose down
            docker-compose up -d --build
          EOF